* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    /*width: 120px;*/
    /*position: relative;*/
    /*top: 10px;*/
    /*left: 35%;*/
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

#pageInfo {
    color: #FFFFFF;
    width: 870px;
    font-size: 36px;
    margin: auto;
    margin-top:80px;
    margin-bottom:80px;
    background: linear-gradient(to right, #7c7c9c, #4b4b66);
    padding: 32px;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
}

#calculator {

    color: #FFFFFF;
    width: 870px;
    font-size: 18px;
    margin: auto;
    margin-top:80px;
    margin-bottom:80px;
    background: linear-gradient(to right, #7c7c9c, #4b4b66);
    padding: 18px;
    text-align: center;
    border-radius: 20px;
}

#about {
    color: #6e7280;
    width: 870px;
    font-size: 22px;
    margin: auto;
    margin-top:80px;
    margin-bottom:80px;
    background: linear-gradient(to right, #d5d9e6, #b8bdcf);
    padding: 32px;
    text-align: left;
    line-height: 2.5;
    border-radius: 20px;
}

#disclaimer {
    color: #6e7280;
    width: 870px;
    font-size: 22px;
    margin: auto;
    margin-top:80px;
    margin-bottom:80px;
    background: linear-gradient(to right, #d5d9e6, #b8bdcf);
    padding: 32px;
    text-align: left;
    line-height: 2.5;
    border-radius: 20px;
}

header label a {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

header label a:hover {
    transition: 1s;
    color: #4b4b66;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    text-decoration: none;
}


.cHead {
    font-weight: bold;
    font-size: 28px;
    color: #e8f4ff;
    margin-bottom: 20px;
}

header {
    background: linear-gradient(to right, #b8bdcf, #d5d9e6);
    width: 100%;
    height: 90px;

}


header ul {
    float: right;
    margin-right: 10%;
}

header ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

header ul li a {
    color: grey;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header ul li a:hover {
    background: white;
    transition: 1s;
    text-decoration: none;
    color: black;

}

